.h-title{
    color: darkslategrey;
    text-align: center;
    margin: 1%;
}
.product-holder {
    margin: 1% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    align-items: baseline;
    .prod-card {
        max-width: 280px;
        background-color: white;
        padding: 24px 22px;
        border-radius: 6px;
        border: 1px solid #ededed;
        box-shadow: 1px 3px 17px -12px darkslategrey;
        transition: all 0.3s ease-in-out;
        margin-bottom: 1%;
        &:hover{
            transform: scale(1.02);
        }
       
        img{
            width: 100%;
            height: 180px;
            object-fit: contain;
        }
        .desc-default{
            color: gray;
            margin-bottom: 0px;
            transition: all 0.5s ease-in-out;
        }
        .desc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            transition: all 0.5s ease-in-out;
         }
         .expander{
            color: #48a921;
            cursor: pointer;
         }
         .price{
            font-weight: 600;
            font-size: 18px;
            color: darkslategrey;
         }
         .bottom-bar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 18px;
         }
    }
}
.ed-title{
    margin-bottom: 32px;
display: flex;
justify-content: space-between;
}
.mat-dialog-container{
    width: 60vw !important;
}
@media (max-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    
    .product-holder{
        grid-template-columns: none;
    }
    .h-title{
       
        margin: 2%;
    }
}